<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>

  <tr><th>フォロー数</th><th><%= link_to user.followings.count,user_followings_path(user.id) %></th></tr>
  <tr><th>フォロワー数</th><th><%= link_to user.followers.count,user_followers_path(user.id) %></th></tr>

<tr>
      <% if current_user.followings?(user) %>
      <th><%= link_to "Unfollow", user_relationships_path(user.id), method: :delete %></th>
      <% else %>
      <th><%= link_to "follow",user_relationships_path(user.id),method: :post,class: "btn btn-success" %></th>
      <% end %>
      
       <% if current_user != user && current_user.followings?(user) && user.followings?(current_user) %>
       <%= link_to 'chatを始める', chat_path(user.id), class: "ml-3" %>
       <% end %>


</tr>

</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>